<h2>ご挨拶</h2>
ブログ始めてみました。りんけいと申します。普段はTwitterに生息しているので更新は飛び飛びになると思いますがよろしくお願いします。
<h2>自己紹介</h2>
神奈川民です。区のほうの神奈川です。神奈川県横浜市神奈川区っていう住所面白いですよね。最寄りは<span class="line">新町検車区</span>神奈川新町駅ですねはい。
趣味はプログラミング、鉄道写真、鉄道模型って感じですかね、最近は鉄道からはフェードアウト気味ですが新町の観察してちまちま上げようかと。<br>
一応専門学生ですが鬱病悪化させて休学中です。<span class="line">人生終わってますね。</span><br>
メンがヘラってます。鬱病、睡眠障害、性同一性障害、摂食障害。<span class="line">人生終わってますねはい。</span><br>
普通にかなり不味い自覚はありますが一応生きてるのでよろしくお願いします。<br>
私が使ってる他サービスのリンク置いときますね。よろしければぜひ。<br>
<a href="https://twitter.com/KRT6006">twitter</a>
<a href="https://github.com/rinkei-krt6006?tab=repositories">github</a>
<a href="https://www.youtube.com/channel/UCm9phN1Igu7-MsonQMW2oWw?view_as=subscriber">youtube</a>
<a href="http://www.nicovideo.jp/user/33341576/video">niconico</a>
<a href="https://peing.net/ja/rinkei">質問箱</a>
<%= @yield %>